<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script
      src="https://kit.fontawesome.com/7382748a97.js"
      crossorigin="anonymous"
      defer
    ></script>
  </head>
  <body>
    <main>
      <div class="card">
        <a href="#"><img src="../assets/icons/gear.svg" alt="Gear Icon" /></a>
        <div class="unit-input" hidden>
          <label for="radio-units">Unit:</label>
          <input
            type="radio"
            name="radio-units"
            id="imperial"
            value="Imperial"
            checked="checked"
          />
          <label for="radio-units">Imperial (lbs/in)</label>
          <input type="radio" name="radio-units" id="metric" value="Metric" />
          <label for="radio-units">Metric (kg/cm)</label>
        </div>
        <h2>About You</h2>

        <div class="imperial-form">
          <%= require('html-loader!./partials/imperial-form.html').default%>
        </div>
        <div class="metric-form" hidden>
          <%= require('html-loader!./partials/metric-form.html').default%>
        </div>
      </div>
    </main>
    <footer><%= require('html-loader!./partials/footer.html').default%></footer>
  </body>
</html>
