<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <div class="card">
        <div class="unit-input">
          <label for="units">Unit:</label>
          <input
            type="radio"
            name="units"
            id="Imperial"
            value="Imperial"
            checked="checked"
          />
          <label for="units">Imperial (lbs/in)</label>
          <input type="radio" name="units" id="metric" value="Metric" />
          <label for="units">Metric (kg/cm)</label>
        </div>
        <h2>About You</h2>

        <div class="imperial-form">
          <%= require('html-loader!./partials/imperial-form.html').default%>
        </div>
        <div class="metric-form" hidden>
          <%= require('html-loader!./partials/metric-form.html').default%>
        </div>
      </div>
    </main>
    <footer><%= require('html-loader!./partials/footer.html').default%></footer>
  </body>
</html>
