<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <div class="card">
        <h1>Calorie Options</h1>
        <form method="post" id="calorie-form">
          <div class="radio-container">
            <input
              type="radio"
              name="calorie-option"
              id="maintain-weight"
              value="0"
            />
            <label for="calorie-option"
              >3300 Calories <span>0 lbs/week</span></label
            >
          </div>
          <div class="radio-container">
            <input
              type="radio"
              name="calorie-option"
              id="mild-weight"
              value="0.0025"
            />
            <label for="calorie-option"
              >3013 Calories <span>.6 lbs/week</span></label
            >
          </div>
          <div class="radio-container">
            <input
              type="radio"
              name="calorie-option"
              id="normal-weight"
              value="0.005"
            />
            <label for="calorie-option"
              >2725 Calories <span>1.2 lbs/week</span></label
            >
          </div>
          <div class="radio-container">
            <input
              type="radio"
              name="calorie-option"
              id="high-weight"
              value="0.0075"
            />
            <label for="calorie-option"
              >2438 Calories <span>1.7 lbs/week</span></label
            >
          </div>
          <div class="radio-container">
            <input
              type="radio"
              name="calorie-option"
              id="extreme-weight"
              value="0.01"
            />
            <label for="calorie-option"
              >2150 Calories <span>2.3 lbs/week</span></label
            >
          </div>
          <input
            type="button"
            value="Calculate"
            id="calorie-btn"
            onclick="window.location.href = './results.html'"
          />
        </form>
      </div>
    </main>
    <footer><%= require('html-loader!./partials/footer.html').default%></footer>
  </body>
</html>
