<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <div class="card">
        <h1>Your Goals</h1>
        <form action="" method="post" id="goal-form">
          <!-- Goal -->
          <div class="input-goal">
            <label for="goal">I would like to:</label>
            <select name="goal" id="goal">
              <option value="lose" selected>Lose Weight</option>
              <option value="maintain">Maintain Weight</option>
              <option value="gain">Gain Weight</option>
            </select>
          </div>
          <!-- Target Weight -->
          <div class="input-target">
            <label for="weight">What is your target weight?</label>
            <div class="info-container">
              <input
                type="number"
                name="weight"
                id="weight-goal"
                placeholder="0"
              />
              <span class="input-span">lbs</span>
            </div>
          </div>
          <!-- Preferred Diet -->
          <div class="preferred-diet">
            <label for="diet">What is your preferred diet?</label>
            <select name="diet" id="preferred-diet">
              <option value="low-fat">Low Fat/High Carb</option>
              <option value="balanced" selected>Balanced</option>
              <option value="low-carb">Low-Carb/High Fat</option>
            </select>
          </div>
          <!-- Preferred Protein -->
          <div class="preferred-protein">
            <label for="protein">Preferred protein intake?</label>
            <select name="protein" id="preferred-protein">
              <option value="low">Low</option>
              <option value="moderate" selected>Moderate</option>
              <option value="high">High</option>
              <option value="extra-high">Extra High</option>
            </select>
          </div>
          <div class="btn-container">
            <input class="secondary-btn" type="button" value="Start Over" />
          </div>
          <input
            class="primary-btn"
            type="button"
            value="Calculate"
            id="goal-btn"
          />
        </form>
      </div>
    </main>
    <footer><%= require('html-loader!./partials/footer.html').default%></footer>
  </body>
</html>
<!-- onclick="window.location.href = './calories.html'" -->
