@import "variables";

#calorie-form {
  .radio-container {
    justify-content: start;
    gap: 12px;

    label {
      font-weight: $font-bold;
      font-size: 1.5rem;

      span {
        color: $primary-color;
        font-size: $font-size;
        padding-left: 8px;
      }
    }
  }
}
