@import "variables";
@import "index";
@import "goals";
@import "calories";
@import "results";

/* Styling Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $primary-font;
}

/* General Styling */
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-size: $font-size;

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .card {
      background-color: $white;
      border-radius: 8px;
      padding: 32px;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 16px;

      // h1 {
      //   text-align: center;
      // }

      form {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 12px;

        div {
          border: 1px solid $black;
          display: flex;
          justify-content: space-between;
          border-radius: 4px;
          padding: 12px;
          gap: 8px;
        }

        input {
          border: none;
        }

        input:focus,
        input:active {
          outline: none;
        }

        .info-container {
          border: none;
          padding: 0;
          align-items: center;

          input {
            width: 32px;
            text-align: end;
          }
        }

        select {
          border: none;
          font-size: $font-size;
          text-align: end;
        }

        input {
          accent-color: $primary-color;
          font-size: $font-size;
        }

        // Hides arrows on num input
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        .btn-container {
          border: none;
          padding: 16px 0 0 0;
          grid-column: -1/1;

          input[type="button"] {
            border-radius: 8px;
            // margin-top: 16px;
            font-size: $font-size;
            padding: 12px;
            border: 2px solid $primary-color;
            font-weight: $font-semi-bold;
          }

          .primary-btn {
            background-color: $primary-color;
            color: $white;
            flex: 1;
          }

          .secondary-btn {
            background-color: $white;
            color: $primary-color;
            flex: 1;
          }

          input[type="button"]:hover,
          input[type="button"]:active {
            cursor: pointer;
            background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
          }
        }
      }
    }
  }

  footer {
    padding: 8px;
    width: 100%;
    margin-top: auto;

    .footer-link {
      text-decoration: none;
      color: $secondary-color;
      font-weight: $font-bold;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .github-image {
        width: 24px;
      }
    }
  }
}
